<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar - Huellitas</title>
        <link rel="stylesheet" href="../assets/css/styleRegistro.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <form th:action="@{/mascota/cargar}" method="POST" id="form">
            <div class="form">
                <h1>Datos Mascota</h1>
                <div class="grupo">
                    <input type="text" name="sexo" id="name" required><span class="barra"></span>
                    <label for="">Sexo</label>
                </div>

                <div class="grupo">
                    <input type="number" name="edad" id="email" required min="1" max="20"><span class="barra"></span>
                    <label for="">Edad</label>
                </div>

                <div class="grupo">
                    <input type="text" name="raza" id="name" required ><span class="barra"></span>
                    <label for="">Raza</label>
                </div>
                
                <div class="grupo"> 
                    <input type="text" name="tipo" id="name" required><span class="barra"></span>
                    <label for="">Tipo de animal</label>
                </div>

                <div class="grupo"> 
                    <label for="">provincia</label>
                    <select name="" id="">Seleccione provincia
                        <option 
                        th:each = "z: ${zonas}"
                        th:text = "${z.provincia}"
                        th:value = ${z.provincia}>
                        </option>
                    </select>
                    
                </div>

                <div class="grupo"> 
                    <label for="">ciudad</label>
                    <select name="" id="">Seleccione ciudad
                        <option   
                        th:each = "z: ${zonas}"
                        th:text = "${z.ciudad}"
                        th:value = "${z.ciudad}">
                        </option>
                    </select>      
                </div>

                <div class="grupo">
                    <input type="file" name="" id="name" required><span class="barra"></span>
                    <label for="">Subir foto</label>
                </div>

                <div class="grupo">
                    <label for="">Observaciones</label>
                    <textarea name="observaciones" id="" cols="30" rows="10" placeholder="ingresar observacion"></textarea>
                </div>           
                <input type="hidden" name="idContacto" th:value="${idContacto}"/>

                <button type="submit">Aceptar</button>
            </div>
        </form>
<!--        <script>

            window.onbeforeunload = closingCode;
            function closingCode(){
                console.log('closing window');
                // hacer peticion fetch hacia el back para ejecutar el borrado de los datos del respectivo contacto
                return null;
            }

        </script>-->
        <script src="main.js"></script>
    </body>
</html>