<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Usuarios</title>
  <link rel="stylesheet" href="../../assets/css/administrador.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Lista Usuario</h1>
  <table class="rwd-table">
    <tr>
      <th scope="col">Fecha de adopcion</th>
      <th scope="col">Nombre usuario</th>
      <th scope="col">Id mascota</th>
    </tr>
    <tr th:each="u:${usuarios}">
    <tr th:each="p:${pedidos}">

      <td th:text="${p.fechaAdopcion}"></td>

      <td th:text="${p.usuario.nombre}+${p.usuario.apellido}"></td>

      <td th:text="${p.mascota.id}"></td>

    </tr>

    </tr>
  </table>

</body>

</html>